* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
nav,
footer,
header,
aside {
    display: block;
}
html,
body {
    height: 1700px;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}
body {
    font-family: "PT Sans", sans-serif;
    background-image: url(../img/fon.jpg);
}
.block1 {
    margin-top: 50px;
    margin-left: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 400px;
}
.photo1 {
    height: 80%;
    width: 100%;
    background-image: url(../img/win.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.text1 {
    height: 20%;
    width: 100%;
    text-align: center;
}
.text1 span {
    font-size: 21px;
}
.smile {
    position: absolute;
    height: 300px;
    width: 300px;
    left: 500px;
    bottom: 100px;
}
.text11 {
    height: 100px;
    width: 550px;
    position: absolute;
    left: 850px;
    bottom: 600px;
    font-size: 30px;
}
.gomel {
    height: 300px;
    width: 500px;
    position: absolute;
    left: 900px;
    bottom: 250px;
    background-image: url(../img/gomel.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}
.block2 {
    margin-top: 100px;
    margin-left: 100px;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 1300px;
}
.photo2 {
    height: 100%;
    width: 50%;
    background-image: url(../img/priemka\ obshch.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.text2 {
    margin-left: 60px;
    margin-top: 110px;
    height: 20%;
    width: 450px;
    font-size: 27px;
}
.block3 {
    margin-top: 75px;
    margin-left: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 400px;
}
.photo3 {
    height: 80%;
    width: 100%;
    background-image: url(../img/work.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.text3 {
    height: 20%;
    width: 100%;
    text-align: center;
    font-size: 20px;
}
.block4 {
    margin-top: -580px;
    margin-left: 650px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 700px;
}
.photo4 {
    height: 100%;
    width: 100%;
    background-image: url(../img/sleep.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.text4 {
    margin-top: 15px;
    font-size: 30px;
}
